---
layout: default
---
<header class="masthead">        
  <h1 class="masthead-title">
    <a href="{{ site.baseurl }}/">{{ site.name }}</a>
  </h1>
  <nav class="masthead-nav">
    {% for nav in site.nav %}
    <a href="{{ nav.href }}">{{ nav.name }}</a>
    {% endfor %}
  </nav>
</header>
<div class="content list">
{% if site.posts.size == 0 %}
  <h2>No post found</h2>
{% else %}
<!-- Shows pinned posts -->
{% for post in site.posts %}
  {% if post.status == 'pinned' %}
    <div class="list-item-pinned">
      <img src="{{ site.baseurl }}/public/pinn.png" style="float:left; padding-right: 5px" />
      <h2 class="list-post-title-pinned">
        <a title="{{post.description}}" alt="{{post.description}}" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
      </h2>
      <div class="list-post-date">
      <time>{{ post.date | date_to_string }}</time> | 
			<a href="{{ site.baseurl}}/categories#{{ post.category }}" class="category">{{ post.category }}</a>
    </div>
    </div>
  {% endif %}
{% endfor %}
<hr />
{% for post in paginator.posts %}
{% if post.visible == true %}
  <div class="list-item">
    <h2 class="list-post-title">
      <a title="{{post.description}}" alt="{{post.description}}" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
    </h2>
    <div class="list-post-date">
      <time>{{ post.date | date_to_string }}</time> | 
			<a href="{{ site.baseurl}}/categories#{{ post.category }}" class="category">{{ post.category }}</a>
    </div>
  </div>
  {% endif %}
{% endfor %}
{% endif %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}/page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
