---
title: Tags
permalink: /tags/
---
{% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}

<!-- `tag_words` is a sorted array of the tag names. -->
{% assign tag_words = site_tags | split:',' | sort %}

<div class="tags-holder">
  {% for item in (0..site.tags.size) %}{% unless forloop.last %}
    {% capture this_word %}{{ tag_words[item] }}{% endcapture %}
      <a href="#{{ this_word | cgi_escape }}" class="tag-count">{{ this_word }}
        <span>({{ site.tags[this_word].size }})</span>
  {% endunless %}{% endfor %}
</div>

<!-- Posts by Tag -->
<div>
  {% for item in (0..site.tags.size) %}{% unless forloop.last %}
    {% capture this_word %}{{ tag_words[item] }}{% endcapture %}
    <h2 id="{{ this_word | cgi_escape }}">{{ this_word }}</h2>
    {% for post in site.tags[this_word] %}{% if post.title != null %}
      <ul class="post-list">
          <li><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></li>
      </ul>
    {% endif %}{% endfor %}
  {% endunless %}{% endfor %}
</div>
