---
title: Tags
permalink: /tags/
---
{% for tag in site.tags %} 
  <h2 id="{{ tag }}">{{ tag | capitalize }}</h2>
  <ul class="post-list">
    {% assign pages_list = tag %}  
    {% for post in pages_list %}
      {% if post.title != null and post.visible == true %}
      {% if group == null or group == post.group %}
      <li><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></li>
      {% endif %}
      {% endif %}
    {% endfor %}
    {% assign pages_list = nil %}
    {% assign group = nil %}
  </ul>
{% endfor %}
