<header class="header">
    <div class="header-container">
        <a href="{{ site.baseurl }}/" class="header-logo">{{ site.title }}</a>
        
        <div class="right-elements"> 
            
            <button id="theme-toggle" aria-label="Cambiar modo oscuro/claro" title="Cambiar tema">
                <span class="icon">🌙</span>
            </button>
            
            <nav class="header-nav">
                <button class="menu-toggle" aria-label="Menú">☰</button>
                <ul class="nav-links">
                    <li><a href="{{ site.author.github }}" target="_blank" rel="noopener">GitHub</a></li>
                    <li><a href="{{ site.author.youtube }}" target="_blank" rel="noopener">Youtube</a></li>
                    <li><a href="{{ '/about' | relative_url }}">Sobre mí</a></li>
                    </ul>
            </nav>
        </div>
        
    </div>
</header>
