---
layout: default
---
<header class="masthead">
  <h1 class="masthead-title--small">
    <a href="{{ site.baseurl }}/">{{ site.name }}</a>
  </h1>
  <a href="http://www.github.com/angelsimon/" target="_blank"></a><img src="http://findicons.com/files/icons/2796/metro_uinvert_dock/128/github.png" style="height:32px;" /></a>
  <a href="http://www.github.com/angelsimon/" target="_blank"></a><img src="http://findicons.com/files/icons/2796/metro_uinvert_dock/128/github.png" style="height:32px;" /></a>
  <a href="http://www.github.com/angelsimon/" target="_blank"></a><img src="http://findicons.com/files/icons/2796/metro_uinvert_dock/128/github.png" style="height:32px;" /></a>
  <a href="http://www.github.com/angelsimon/" target="_blank"></a><img src="http://findicons.com/files/icons/2796/metro_uinvert_dock/128/github.png" style="height:32px;" /></a>
</header>      
<div class="content page">
  <h1 class="page-title">{{ page.title }}</h1>
  {{ content }}
</div>

