---
layout: default
comments: true
---
<header class="masthead">
  <h1 class="masthead-title--small">
    <a href="{{ site.baseurl }}/">{{ site.name }}</a>
  <div style="display: flex;">
    <a href="http://www.github.com/angelsimon/" target="_blank"><img src="{{ site.baseurl }}/public/social/github.png" /></a>
    <a href="http://www.twitter.com/void/" target="_blank"><img src="{{ site.baseurl }}/public/social/twitter.png" /></a>
    <a href="http://www.instagram.com/void_ar/" target="_blank"><img src="{{ site.baseurl }}/public/social/instagram.png"  /></a>
    <a href="https://www.youtube.com/c/AngelSimon" target="_blank"><img src="{{ site.baseurl }}/public/social/youtube.png"  /></a>
    <a href="http://www.facebook.com/void.ar/" target="_blank"><img src="{{ site.baseurl }}/public/social/facebook.png"  /></a>
    <a href="http://www.goodreads.com/void_ar/" target="_blank"><img src="{{ site.baseurl }}/public/social/goodreads.png"  /></a>
    <a href="http://www.medium.com/@void" target="_blank"><img src="{{ site.baseurl }}/public/social/medium.png"  /></a>
    <a href="http://www.angelsimon.com.ar/" target="_blank"><img src="{{ site.baseurl }}/public/social/www.png"  /></a>
    <a href="#" target="_blank"><img src="{{ site.baseurl }}/public/social/telegram.png"  /></a>
    <a href="{{ site.baseurl }}/feed.xml" target="_blank"><img src="{{ site.baseurl }}/public/social/rss.png" /></a>
  </div>
  </h1>
</header>      
<div class="content post">
  <h1 class="post-title">{{ page.title }}</h1>
  <div class="post-date">
    <time>{{ page.date | date_to_string }}</time> |
		<span class="category">{{ page.category }}</span>
  </div>
  {{ content }}

</br></br>
  
<div id="social-stuff" style="display: inline-block;  flex-wrap: wrap;">
  <!-- Twitter -->
  <a href="https://twitter.com/share" data-via="void" class="twitter-share-button" data-show-count="true">Tweet</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  
  <!-- Facebook -->
  <iframe src="https://www.facebook.com/plugins/share_button.php?href={{ site.baseurl }}{{ post.url }}&layout=box_count&mobile_iframe=true&width=81&height=40&appId" width="81" height="40" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
</div>

  
    <div id="disqus_thread"></div>
<script>

/**
 *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
 *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables */
/*
var disqus_config = function () {
    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = '//angelsimon-github-io.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                                    
</div>
