---
layout: default
---
{% if page.mathjax %}
<script type="text/javascript"
    src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
{% endif %}
<div class="blog-post-content">
	<h1>{{page.title}}</h1>
	<h5 class="tags">Publicado el {{ page.date | date: "%d/%m/%Y" }} en la categoría {{page.categories}}</h5>
	{% if page.tags != empty %}
	<h5>Tags: 
		{% for tag in page.tags %}
			<a href="{{ site.url }}/tags/#{{tag | cgi_escape}}" class="post-tag">{{tag}}</a>{% unless forloop.last %}, {% endunless %}
		{% endfor %}
	</h5>
	{% endif %}
	<hr/>
	{{ content }}
</div>

<div class="navigation">
	{% if page.previous %}
		<a class="prev" href="{{ page.previous | relative_url }}">< {{ page.previous.title }}</a>
	{% endif %} {% if page.next %}
	<a class="next" href="{{ page.next | relative_url }}">{{ page.next.title }} ></a>
{% endif %}
</div>
{% include disqus.html %}